<div>
  <p><%= @article.title %>
  <%= link_to "ðŸ–Šï¸", edit_article_path %>
  <%= link_to "ðŸ—‘ï¸", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</p>
  <p><%= @article.content %></p>
</div>

